html, body, table{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.Calculator__output{
	background-color: black;
	color:white;
}

td{
	text-align: center;
}

.Calculator{
	font-family: Roboto;
	font-size:32px;
	font-weight: 700; 
}

.Calculator__enter{
	background-color: #f1f1f1;
}

.Calculator__fun{
	background-color: #ff9800;
	color: white;
}

.Calculator__numb{
	background-color: #555555;
	color: white;
}